/*--------------------------------------------------------------------------/
* @Author		KulerThemes.com http://www.kulerthemes.com
* @Copyright	Copyright (C) 2012 - 2013 KulerThemes.com. All rights reserved.
* @License		KulerThemes.com Proprietary License
/---------------------------------------------------------------------------*/

/****************************** GENERAL ******************************/
html, body {
	margin: 0;
	padding: 0;
}
body {
	color: #666;
	font-size: 13px;
	line-height: 160%;
	letter-spacing: -0.4px;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff url(../image/backgrounds/bg-noise-light.png);
}
p, pre, blockquote, form, dl, ul, ol, fieldset, address {
	padding: 0;
	margin: 12px 0 15px 0;
}
fieldset {
	padding: .5em;
	border: 1px solid #444;
}
small {
	font-size: .85em;
}
strong {
	font-weight: 600;
}
.primary-define img {
	max-width: 100%;
}
.primary-define input,
.primary-define select,
.primary-define textarea {
	margin: 0;
	color: #666;
	padding: 5px 0;
	max-width: 100%;
	font-size: 14px;
	text-indent: 10px;
	letter-spacing: -0.4px;
	border: 1px solid #D0D0D0;
	border-width: 1px 0 0 1px;
	background-color: #EDEDED;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define textarea {
	padding: 5px;
	text-indent: 0;
	max-width: 97%;
}
.primary-define input[type*="file"] {
	font-family: Arial, Helvetica, sans-serif;
}
.primary-define input[type*="radio"],
.primary-define input[type*="checkbox"] {
	top: 1px;
	margin: 0;
	border: none;
	position: relative;
}
.primary-define select {
	text-indent: 0;
	cursor: pointer;
	font-weight: 600;
	padding: 7px 5px 6px 5px;
}
.primary-define label {
	cursor: pointer;
}
/* =============== DEFAULT HTML - CLEARING =============== */
.primary-define .clearbreak {
	clear: both;
}
.primary-define .clearafter:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
/* =============== DEFAULT HTML - GRID LAYOUT =============== */
.primary-define .grid-2 {
	float: left;
	width: 46.95%;
	margin: 0 1.5%;
}
.primary-define .grid-3 {
	float: left;
	width: 30.3%;
	margin: 0 1.5%;
}
.primary-define .grid-4 {
	float: left;
	width: 21.975%;
	margin: 0 1.5%;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
.primary-define h1,
.primary-define h2,
.primary-define h3,
.primary-define h4,
.primary-define h5,
.primary-define h6 {
	color: #666;
	font-weight: 600;
	line-height: 120%;
}
.primary-define h1 {
	color: #444;
	font-size: 22px;
	padding-bottom: 18px;
	margin: 25px 0 10px 0;
	background: url(../image/backgrounds/bg-double-line.png) left bottom repeat-x;
}
.primary-define h2 {
	color: #525252;
	font-size: 22px;
	margin: 15px 0 10px 0;
}
.primary-define h3 {
	margin: 0.3em 0;
	font-size: 18px;
	font-weight: 400;
}
.primary-define h4 {
	margin: 0.3em 0;
	font-size: 1.25em;
	font-weight: 400;
}
.primary-define h5,
.primary-define h6 {
	margin: 0.3em 0;
	font-size: 1.1em;
	font-weight: 400;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
.primary-define a {
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
.primary-define a:hover {
	text-decoration: underline;
}
.primary-define a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
.primary-define ul li {
	padding: 0;
	margin: 0.3em 0 0.3em 1.6em;
}
.primary-define ol li {
	padding: 0;
	margin: 0.3em 0 0.3em 2em;
}
/* =============== DEFAULT HTML - ICONS =============== */
.primary-define [class*="icon-"] {
	line-height: 20px;
	padding-left: 20px;
	display: inline-block;
}
.primary-define .icon-grid {
	background: url(../image/icons/icon-grid.png) left center no-repeat;
}
.primary-define .icon-list {
	background: url(../image/icons/icon-list.png) left center no-repeat;
}
.primary-define .icon-wishlist-white {
	background: url(../image/icons/icon-wishlist-white.png) left center no-repeat;
}
.primary-define .icon-wishlist-grey {
	background: url(../image/icons/icon-wishlist-grey.png) left center no-repeat;
}
.primary-define .icon-compare-grey {
	background: url(../image/icons/icon-compare-grey.png) left 1px no-repeat;
}
.primary-define .icon-grid-grey {
	background: url(../image/icons/icon-grid-grey.png) left center no-repeat;
}
.primary-define .icon-list-grey {
	background: url(../image/icons/icon-list-grey.png) left center no-repeat;
}
.primary-define .icon-cart-white {
	background: url(../image/icons/icon-cart-white.png) left center no-repeat;
}
.primary-define .icon-user-white {
	background: url(../image/icons/icon-user-white.png) left center no-repeat;
}
.primary-define .icon-checkout-white {
	background: url(../image/icons/icon-checkout-white.png) left center no-repeat;
}
/* =============== DEFAULT HTML - BUTTONS =============== */
.primary-define .button {
	color: #fff;
	border: none;
	text-indent: 0;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 7px 15px;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define .button:hover {
	text-decoration: none;
	background-color: #666;
}
/* LAYOUT */
.primary-define .wrapper {
	width: 1080px;
	margin: 0 auto;
}
.primary-define #column-left {
	float: left;
	width: 240px;
}
.primary-define #column-right {
	float: right;
	width: 240px;
}
.primary-define #column-left + #content,
.primary-define #column-right + #content {
	float: left;
	width: 810px;
}
.primary-define #column-left + #content {
	margin-left: 30px;
}
.primary-define #column-right + #content {
	margin-right: 30px;
}
.primary-define #column-left + #column-right + #content {
	width: 540px;
}
.primary-define #content form {
	margin: 0;
}
/* HEADER */
.primary-define #header {
	z-index: 2;
	padding-top: 3px;
	text-align: right;
	position: relative;
}
.primary-define #header #topbar {
	color: #fff;
	padding: 1px 0;
	font-size: 12px;
	position: relative;
	background-image: url(../image/backgrounds/bg-overlay.png);
}
.primary-define #header #toppanel {
	padding: 9px 0 2px 0;
}
.primary-define #topbar .wrapper {
	padding: 7px 0 11px 0;
}
.primary-define #topbar form {
	margin: 0;
	float: left;
}
.primary-define #topbar #welcome a {
	color: #fff;
	font-weight: 700;
}
.primary-define #topbar .links {
	float: left;
	color: #994300;
}
.primary-define #topbar .links a {
	color: #fff;
	font-weight: 600;
	margin-left: 15px;
	text-decoration: none;
}
.primary-define #topbar #language {
	margin-right: 15px;
}
.primary-define #topbar #language br {
	display: none;
}
.primary-define #topbar #language img {
	cursor: pointer;
	margin-left: 5px;
	vertical-align: middle;
}
.primary-define #topbar #currency a {
	color: #fff;
	padding: 0 6px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.primary-define #topbar #currency a:first-child {
	margin-left: 5px;
}
.primary-define #topbar #currency a.current {
	font-weight: 600;
	background-color: #fff;
}
.primary-define #toppanel #logo {
	float: left;
	margin: 9px 0;
}
.primary-define #toppanel #search {
	float: right;
	text-align: left;
	margin: 10px 40px 10px 0;
}
.primary-define #toppanel #search-inner {
	margin-right: 54px;
	position: relative;
	display: inline-block;
}
.primary-define #toppanel #search input {
	margin: 0;
	color: #666;
	width: 100%;
	padding: 7px;
	border: none;
	outline: none;
	text-indent: 0;
	background-color: #fff;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
.primary-define #toppanel #search .button-search {
	top: 0;
	width: 40px;
	right: -54px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	background: #fff url(../image/icons/icon-search-grey.png) center center no-repeat;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}
.primary-define #header #cart {
	float: right;
	text-align: left;
	position: relative;
}
.primary-define #header #cart .heading {
	cursor: pointer;
	line-height: 41px;
	padding-left: 46px;
	text-align: center;
	background: url(../image/icons/icon42-cart-white.png) left center no-repeat;
}
.primary-define #header #cart .heading h4 {
	display: none;
}
.primary-define #header #cart .heading a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
}
.primary-define #header #cart .content {
	right: 0;
	top: 100%;
	z-index: 3;
	width: 380px;
	overflow: hidden;
	position: absolute;
}
.primary-define #header #cart .inner {
	padding: 10px;
	margin-top: -999px;
	background-color: #fff;
}
.primary-define #header #cart.active .inner {
	margin-top: 0;
}
.primary-define .mini-cart-total {
	margin-top: 2px;
	border-top: 1px solid #eee;
}
.primary-define .mini-cart-info td {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.primary-define .mini-cart-info .name {
	text-align: left;
}
.primary-define .mini-cart-info .name a {
	font-weight: 600;
}
.primary-define .mini-cart-info .name span {
	display: block;
	font-size: 11px;
}
.primary-define .mini-cart-info .total {
	color: #C53F32;
	font-weight: 600;
}
.primary-define .mini-cart-info .remove img {
	cursor: pointer;
	vertical-align: baseline;
}
.primary-define .mini-cart-total table {
	padding: 5px 0;
	font-weight: 600;
	border-bottom: 1px solid #eee;
}
.primary-define .mini-cart-total td {
	padding: 2px 0;
}
.primary-define .mini-cart-total .total {
	color: #C53F32;
	text-align: right;
}
.primary-define #header #cart .checkout {
	text-align: center;
	margin: 15px 0 10px 0;
}
.primary-define #header #cart .empty {
	padding: 50px 0;
	text-align: center;
}
/* CONTAINER */
.primary-define #container {
	z-index: 1;
	position: relative;
}
/* MENU */
.primary-define #menu {
	text-align: left;
	background: url(../image/backgrounds/bg-overlay.png) left top repeat-x;
}
.primary-define .mainmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.primary-define .mainmenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
.primary-define .mainmenu > li {
	float: left;
}
.primary-define .mainmenu li a {
	color: #666;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}
.primary-define .mainmenu > li > a {
	color: #fff;
	font-size: 16px;
	line-height: 120%;
	font-weight: 600;
	padding: 11px 14px;
}
.primary-define .mainmenu li .dropdown-container {
	top: 100%;
	overflow: hidden;
	position: absolute;
}
.primary-define .mainmenu li .dropdown {
	padding: 10px;
	margin-top: -999px;
	background-color: #fff;
}
.primary-define .mainmenu li:hover .dropdown {
	margin-top: 0;
}
.primary-define .mainmenu ul {
	margin: 0;
	float: left;
	color: #ccc;
	width: 185px;
	list-style-type: none;
}
.primary-define .mainmenu ul li a {
	padding-left: 18px;
	background: url(../image/icons/icon-square-grey.png) 6px center no-repeat;
}
.primary-define .mainmenu ul li:hover a,
.primary-define .mainmenu ul li.active a {
	background-color: #E9E6E9;
}
.primary-define .mainmenu ul li.active a {
	font-weight: 600;
}
.primary-define #container {
	padding-top: 30px;
	background: url(../image/backgrounds/bg-diag.png) left top repeat-x;
}
/* BREADCRUMB */
.primary-define .breadcrumb {
	padding: 8px 0 30px 0;
	background: url(../image/backgrounds/bg-diag.png) left bottom repeat-x;
}
.primary-define .breadcrumb a {
	color: #666;
	font-size: 14px;
	margin-left: -10px;
	padding: 0 6px 0 35px;
	text-decoration: none;
	background: #fff url(../image/icons/icon-forward-grey.png) 6px 2px no-repeat;
}
.primary-define .breadcrumb a:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}
.primary-define .breadcrumb a:last-child {
	font-weight: 600;
}
/* NOTIFICATIONS */
.primary-define .success,
.primary-define .warning,
.primary-define .attention,
.primary-define .information {
	color: #555555;
	margin-bottom: 15px;
	padding: 10px 10px 10px 33px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.primary-define .success {
	background: #EAF7D9 url(../../default/image/success.png) 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.primary-define .warning {
	background: #FFD1D1 url(../../default/image/warning.png) 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.primary-define .attention {
	background: #FFF5CC url(../../default/image/attention.png) 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.primary-define .success .close,
.primary-define .warning .close,
.primary-define .attention .close,
.primary-define .information .close {
	float: right;
	cursor: pointer;
	margin: 7px 4px 0 0;
}
.primary-define .required {
	color: #C54032;
	margin-left: 4px;
	font-weight: 700;
}
.primary-define .error {
	display: block;
	color: #FF0000;
}
.primary-define .help {
	color: #999;
	font-size: 10px;
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
/* TABLE */
.primary-define table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.primary-define table.form td {
	padding: 4px;
}
.primary-define table.form td:first-child {
	font-weight: 600;
	white-space: nowrap;
}
.primary-define table.form td select,
.primary-define table.form td input[type*="text"],
.primary-define table.form td input[type*="password"] {
	width: 100%;
}
.primary-define table.form td input[name*="postcode"] {
	width: auto;
}
.primary-define .left > table.form td,
.primary-define .right > table.form td {
	display: block;
}
.primary-define table.list {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
.primary-define table.list td {
	padding: 7px;
}
.primary-define table.list td {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.primary-define table.list td b {
	font-weight: 600;
}
.primary-define table.list td.name {
	text-align: left;
	font-weight: 600;
}
.primary-define table.list .right {
	text-align: right;
}
.primary-define table.list thead td {
	color: #666;
	font-weight: 600;
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
.primary-define table.list tbody td {
	vertical-align: middle;
	border-bottom: 1px solid #eee;
}
.primary-define table.list tbody td.quantity input[type='text'] {
	min-width: 35px;
	font-weight: 600;
}
.primary-define table.list tbody td.quantity input[type='image'],
.primary-define table.list tbody td.quantity img {
	top: 4px;
	padding: 0;
	border: none;
	position: relative;
	background-color: #fff;
}
.primary-define table.list tbody td.price,
.primary-define table.list tbody td.total {
	color: #C64132;
}
.primary-define table.list tbody span.stock {
	color: #F00;
	font-weight: 700;
}
.primary-define table.radio {
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
}
.primary-define table.radio td {
	padding: 5px;
	vertical-align: top;
}
.primary-define table.radio td label {
	display: block;
	font-weight: 600;
}
.primary-define table.radio tr td:first-child {
	width: 1px;
}
.primary-define table.radio tr td:first-child input {
	margin-top: 1px;
}
.primary-define .pagination {
	z-index: 1;
	margin: 10px 0;
	position: relative;
	text-align: center;
}
.primary-define .pagination .links {
	padding: 20px 0 10px 0;
}
.primary-define .pagination .links a,
.primary-define .pagination .links b {
	color: #fff;
	margin: 0 1px;
	font-size: 16px;
	font-weight: 600;
	padding: 2px 10px;
	text-decoration: none;
	display: inline-block;
	background-color: #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define .pagination .links b {
	font-weight: 400;
}
/* BUTTONS */
.primary-define .buttons {
	border-top: 1px solid #eee;
}
.primary-define .buttons:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .buttons .left {
	float: left;
	text-align: left;
}
.primary-define .buttons .right {
	float: right;
	text-align: right;
}
.primary-define .buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.primary-define .buttons .button {
	margin: 10px 0;
}
/* TABS */
.primary-define .htabs {
	height: 37px;
	margin-top: 30px;
	line-height: 16px;
}
.primary-define .htabs a {
	color: #999;
	float: left;
	display: none;
	font-weight: 600;
	margin-right: 2px;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	background: #efefef;
	border: 1px solid #eee;
	border-bottom-width: 0;
}
.primary-define .htabs a.selected {
	color: #666;
	background: #FFFFFF;
	padding-bottom: 11px;
}
.primary-define .tab-content {
	z-index: 2;
	padding: 5px 15px;
	margin-bottom: 20px;
	border-top-width: 0;
	border: 1px solid #eee;
}
.primary-define .tab-content b,
.primary-define .tab-content strong {
	color: #444;
}
.primary-define .tab-content input[type*="radio"],
.primary-define .tab-content input[type*="checkbox"] {
	vertical-align: baseline;
}
.primary-define .tab-content .clearafter strong {
	float: left;
	width: 200px;
	margin: 5px 0;
}
.primary-define .tab-content .captcha-field .left,
.primary-define .tab-content .captcha-field .right {
	float: left;
}
/* BOX */
.primary-define .box {
	margin-bottom: 30px;
}
.primary-define .box-heading {
	color: #535353;
	padding: 20px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom: 20px;
	background: url(../image/backgrounds/bg-diag.png) left bottom repeat-x;
}
/* BOX - OUTSIDE CONTENT */
.primary-define #column-left .box-heading,
.primary-define #column-right .box-heading {
	margin-bottom: 0;
}
/* BOX PRODUCTS */
.primary-define .box-product > div {
	position: relative;
	vertical-align: top;
}
.primary-define .box-product .image {
	min-width: 162px;
	min-height: 162px;
}
.primary-define .box-product .image img {
	vertical-align: middle;
}
.primary-define .box-product .image .no-image {
	display: block;
	text-align: center;
}
.primary-define .box-product .image .no-image img {
	width: 80px;
	height: 80px;
}
.primary-define .box-product .price div {
	color: #FFF;
	padding: 4px;
	font-size: 17px;
	position: relative;
	letter-spacing: -1.5px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.primary-define .box-product .price .price-fixed {
	height: 0;
	line-height: 0;
	display: block;
	min-width: 63px;
	padding: 50% 5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.primary-define .box-product .price .special-price {
	background-color: #CC4328;
	text-shadow: 1px 1px 0 rgba(163, 40, 40, 0.65);
}
.primary-define .box-product .special-price .price-old {
	left: 0;
	top: 50%;
	width: 100%;
	color: #DEB3B2;
	font-size: 14px;
	margin-top: -20px;
	position: absolute;
	text-decoration: line-through;
}
.primary-define .box-product .special-price .price-fixed {
	line-height: 15px;
}
.primary-define .box-product .price-tax {
	display: none;
}
.primary-define .box-product .name a {
	color: #444;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
.primary-define .box-product .rating {
	margin-top: 5px;
}
.primary-define .box-product .rating img {
	vertical-align: middle
}
.primary-define .box-product .cart {
	padding: 5px 0 10px 0;
}
.primary-define .box-product .wishlist,
.primary-define .box-product .compare {
	display: block;
	padding: 2px 0;
}
.primary-define .box-product .wishlist a,
.primary-define .box-product .compare a {
	color: #666;
	text-decoration: none;
}
/* BOX PRODUCTS - OUTSIDE CONTENT */
.primary-define #column-left .box-product:after,
.primary-define #column-right .box-product:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define #column-left .box-product > div,
.primary-define #column-right .box-product > div {
	margin: 0;
	float: left;
	border: none;
	display: block;
	padding: 12px 0;
	text-align: left;
	width: 100% !important;
	border-bottom: 1px solid #eee;
}
.primary-define #column-left .box-product > div > div,
.primary-define #column-right .box-product > div > div {
	margin-left: 95px;
}
.primary-define #column-left .box-product .image,
.primary-define #column-right .box-product .image {
	margin: 0;
	padding: 0;
	float: left;
	min-width: 0;
	min-height: 0;
	border: none;
	text-align: center;
}
.primary-define #column-left .box-product .image a,
.primary-define #column-right .box-product .image a,
.primary-define #column-left .box-product .image .no-image,
.primary-define #column-right .box-product .image .no-image {
	width: auto !important;
	line-height: normal !important;
}
.primary-define #column-left .box-product .name,
.primary-define #column-right .box-product .name {
	min-width: 0;
	width: auto !important;
}
.primary-define #column-left .box-product .rating,
.primary-define #column-right .box-product .rating {
	margin-top: 0;
	text-align: left;
}
.primary-define #column-left .box-product .price,
.primary-define #column-right .box-product .price {
	margin-top: 5px;
	position: static;
}
.primary-define #column-left .box-product .price div,
.primary-define #column-right .box-product .price div {
	padding: 0;
	color: #C54032;
	font-size: 13px;
	background: none;
	letter-spacing: -0.4px;
	border-radius: 0;
	text-shadow: none;
}
.primary-define #column-left .box-product .price .price-fixed,
.primary-define #column-right .box-product .price .price-fixed {
	width: auto;
	height: auto;
	border: none;
	display: inline;
	line-height: normal;
	border-radius: 0;
}
.primary-define #column-left .box-product .special-price .price-old,
.primary-define #column-right .box-product .special-price .price-old {
	width: auto;
	color: #999;
	font-size: 13px;
	position: static;
	line-height: 160%;
	text-decoration: line-through;
}
.primary-define #column-left .box-product .details,
.primary-define #column-right .box-product .details {
	display: none;
}
/* box products - has side columns */
.primary-define #column-left + #content .product-grid .image,
.primary-define #column-right + #content .product-grid .image {
	min-width: 150px;
	min-height: 150px;
}
/* products list */
.primary-define .product-list {
	padding: 0;
	clear: both;
}
.primary-define .product-list > div {
	margin: 5px 0;
	padding: 15px 10px;
	border-width: 1px;
	border-style: solid solid dashed solid;
	border-color: transparent transparent #eee transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define .product-list > div:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .product-list > div:hover {
	margin: 5px -10px;
	padding: 15px 20px;
}
.primary-define .product-list > div:hover ~ div {
	border-style: dashed solid solid solid;
	border-color: #eee transparent transparent transparent;
}
.primary-define .product-list > div:hover ~ div:last-child {
	border-style: dashed solid dashed solid;
	border-color: #eee transparent #eee transparent;
}
.primary-define .product-list .left {
	float: left;
	text-align: center;
	margin-right: 20px;
}
.primary-define .product-list .right {
	float: right;
	margin-left: 20px;
	text-align: center;
	padding-left: 20px;
	position: relative;
	border-left: 1px solid #eee;
}
.primary-define .product-list .image {
	margin: 0;
	float: none;
	min-width: 150px;
	min-height: 150px;
}
.primary-define .product-list .name a {
	font-size: 18px;
}
.primary-define .product-list .description {
	margin: 10px 0 15px 0;
}
.primary-define .product-list .price {
	display: inline-block;
}
/* PRODUCTS GRID */
.primary-define .product-grid > div {
	padding: 10px 24px;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define .product-grid .price {
	right: 10px;
	margin-top: -120px;
	position: absolute;
}
.primary-define .product-grid .image {
	float: none;
	margin: 0 0 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
.primary-define .product-grid .name {
	min-width: 162px;
}
.primary-define .product-grid .description {
	display: none;
}
.primary-define .product-grid .details {
	top: 100%;
	left: -1px;
	opacity: 0;
	z-index: 1;
	width: 100%;
	margin-top: -2px;
	position: absolute;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}
/* hover */
.primary-define .product-grid > div:hover {
	z-index: 2;
}
.primary-define .product-grid > div:hover .details {
	opacity: 1;
}
/* TREEMENU */
.primary-define .treemenu {
	padding: 0;
	list-style-type: none;
	background-color: #eee;
}
.primary-define .treemenu li {
	margin: 0;
	padding: 0;
}
.primary-define .treemenu > li {
	border-bottom: 1px solid #ddd;
}
.primary-define .treemenu li a {
	color: #666;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 15px;
	text-decoration: none;
	list-style-type: none;
}
.primary-define .treemenu li a:hover {
	background-color: #E9E6E9;
}
.primary-define .treemenu li a.active {
	border-left: 5px solid #ddd;
}
.primary-define .treemenu li > a.active > span {
	margin-left: -5px;
}
.primary-define .treemenu li a span {
	padding-left: 18px;
	background: url(../image/icons/icon-square-grey.png) 4px center no-repeat;
}
.primary-define .treemenu li ul {
	margin: 0;
	display: none;
	list-style-type: none;
}
.primary-define .treemenu li a.active + ul {
	display: block;
}
.primary-define .treemenu ul li {
	border-bottom: none;
	border-top: 1px solid #ddd;
}
.primary-define .treemenu ul li a {
	padding-left: 30px;
	font-weight: 400;
}
.primary-define .treemenu ul li a.active {
	font-weight: 600;
	background-color: #E9E6E9;
}
/* CONTENT */
.primary-define #content .content:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define #content .content .left {
	float: left;
	width: 48%;
}
.primary-define #content .content .right {
	float: right;
	width: 48%;
}
/* CATEGORY */
.primary-define .category-info h1 {
	background: none;
	padding-bottom: 10px;
}
.primary-define .category-info .image {
	float: left;
	padding: 5px;
	margin-right: 20px;
	border: 1px solid #E7E7E7;
}
.primary-define .category-info .image img {
	vertical-align: middle;
}
.primary-define .category-list {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.primary-define .category-list h2 {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.primary-define .category-list ul {
	margin: 0;
	list-style-type: none;
}
.primary-define .category-list ul li {
	float: left;
	margin: 5px 5px 5px 0;
}
.primary-define .category-list ul li a {
	font-size: 12px;
	font-weight: 700;
}
/* MANUFACTURER */
.primary-define .manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.primary-define .manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: 700;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.primary-define .manufacturer-content {
	padding: 8px;
}
.primary-define .manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* PRODUCT */
.primary-define .product-filter {
	padding: 16px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.primary-define .product-filter a {
	text-decoration: none;
}
.primary-define .product-filter select {
	margin-left: 5px;
	font-weight: 400;
}
.primary-define .product-filter .display {
	float: left;
	margin-top: 8px;
}
.primary-define .product-filter .display a {
	color: #666;
}
.primary-define .product-filter .display a,
.primary-define .product-filter .display span {
	margin-right: 15px;
	padding-left: 25px;
}
.primary-define .product-filter .sort {
	float: right;
}
.primary-define .product-filter .limit {
	float: right;
	margin-left: 15px;
}
.primary-define .product-compare {
	float: left;
	margin-top: 8px;
	padding-left: 15px;
	border-left: 1px solid #eee;
}
/* PRODUCT */
.primary-define .product-info {
	margin-top: 30px;
	position: relative;
}
.primary-define .product-info:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .product-info h1 {
	padding: 0;
	font-size: 32px;
	background: none;
}
.primary-define .product-info > .left {
	float: left;
}
.primary-define .product-info .image {
	padding: 10px;
	text-align: center;
	border: 1px solid #eee;
}
.primary-define .product-info .image img {
	vertical-align: middle;
}
.primary-define .product-info .image-additional {
	margin-left: -4px;
}
.primary-define .product-info .image-additional a {
	float: left;
	padding: 5px;
	display: block;
	margin: 4px 0 0 4px;
	border: 1px solid #eee;
}
.primary-define .product-info .description {
	padding: 20px 0;
}
.primary-define .product-info .description span {
	margin: 10px 0;
	min-width: 120px;
	font-weight: 600;
	display: inline-block;
}
.primary-define .product-info .description a {
	text-decoration: none;
}
.primary-define .product-info .minimum {
	margin-top: 10px;
}
.primary-define .product-info .price {
	float: right;
	margin: 20px 0;
	text-align: center;
	padding-left: 20px;
}
.primary-define .product-info .price > div {
	color: #FFF;
	padding: 4px;
	font-size: 24px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	letter-spacing: -1.5px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.primary-define .product-info .price .price-fixed {
	height: 0;
	line-height: 0;
	min-width: 95px;
	padding: 50% 5px;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.primary-define .product-info .price .special-price {
	background-color: #CC4328;
	text-shadow: 1px 1px 0 rgba(163, 40, 40, 0.65);
}
.primary-define .product-info .special-price .price-fixed {
	line-height: 15px;
}
.primary-define .product-info .special-price .price-old {
	left: 0;
	top: 50%;
	width: 100%;
	color: #DEB3B2;
	font-size: 16px;
	margin-top: -25px;
	position: absolute;
	text-decoration: line-through;
}
.primary-define .product-info .reward,
.primary-define .product-info .price-tax,
.primary-define .product-info .discount {
	margin: 0;
	color: #999;
	display: block;
}
.primary-define .product-info .price-tax {
	margin-top: 5px;
}
.primary-define .product-info .options {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-top: 1px solid #eee;
}
.primary-define .product-info .options h2 {
	font-size: 16px;
}
.primary-define .product-info .option {
	overflow: hidden;
	margin: 5px 0 15px 0;
}
.primary-define .product-info .option strong {
	width: 135px;
	margin: 6px 0;
	display: inline-block;
}
.primary-define .product-info .option select,
.primary-define .product-info .option input[type*="text"] {
	width: 210px;
}
.primary-define .product-info .option textarea {
	width: 270px;
}
.primary-define .product-info .option input[type*="button"] {
	padding: 5px;
	text-indent: 0;
}
.primary-define .product-info .multi div,
.primary-define .product-info .multi strong,
.primary-define .product-info .multi textarea,
.primary-define .product-info .multi .required {
	float: left;
	display: block;
}
.primary-define .product-info .multi div {
	margin-left: 5px;
}
.primary-define .product-info .multi .required {
	margin: 6px 6px 6px 4px;
}
.primary-define .product-info .multi:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.primary-define .product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.primary-define .product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.primary-define .product-info .cart {
	float: left;
	width: 100%;
}
.primary-define .product-info .cart > div:first-child {
	margin-bottom: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}
.primary-define .product-info .cart > div > a {
	color: #666;
	margin-right: 15px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}
.primary-define .product-info .share {
	display: inline-block;
	vertical-align: middle;
}
.primary-define .product-info .share img {
	float: left;
	padding-right: 5px;
}
.primary-define .product-info .share a {
	padding: 0 2px;
	line-height: 16px;
	text-decoration: none;
}
.primary-define .product-info .review {
	padding: 5px 0 15px 0;
	border-bottom: 1px solid #E7E7E7;
}
.primary-define .product-info .review .show-review,
.primary-define .product-info .review .new-review {
	color: #999;
	margin-left: 20px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.primary-define .product-info .review .new-review {
	padding-left: 20px;
	background: url(../image/icons/icon-forward-grey.png) left center no-repeat;
}
.primary-define .product-info .review img {
	vertical-align: middle;
}
.primary-define .review-list {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.primary-define .review-list .author {
	display: inline;
}
.primary-define .review-list .author b {
	color: #000;
}
.primary-define .review-list .rating {
	display: inline;
	vertical-align: middle;
}
.primary-define .review-list .text {
	clear: both;
}
.primary-define .attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.primary-define .attribute thead td,
.primary-define .attribute thead tr td:first-child {
	color: #444;
	font-size: 14px;
	font-weight: 600;
	background: #F7F7F7;
	text-align: left;
}
.primary-define .attribute tr td:first-child {
	color: #444;
	font-weight: 600;
	text-align: right;
	width: 20%;
}
.primary-define .attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.primary-define table.compare-info tr td:first-child {
	font-weight: 600;
	text-align: right;
}
.primary-define table.compare-info thead td {
	color: #666;
}
.primary-define table.compare-info thead td,
.primary-define table.compare-info thead tr td:first-child {
	font-size: 14px;
	background: #eee;
	text-align: left;
}
.primary-define table.compare-info thead td,
.primary-define table.compare-info tbody td {
	padding: 7px;
}
.primary-define table.compare-info td {
	width: 20%;
	text-align: center;
}
.primary-define table.compare-info td .no-image {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.primary-define table.compare-info td .no-image img {
	vertical-align: middle;
}
.primary-define table.compare-info .price-old {
	color: #CC4328;
	font-weight: 600;
	text-decoration: line-through;
}
.primary-define table.compare-info .price-fixed {
	font-weight: 600;
}
.primary-define table.compare-info td.remove img {
	vertical-align: middle;
}
/* WISHLIST */
.primary-define .wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	margin: 20px 0;
}
.primary-define .wishlist-info td {
	padding: 7px;
	text-align: center;
}
.primary-define .wishlist-info thead td {
	font-weight: 600;
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
.primary-define .wishlist-info thead .name {
	text-align: left;
}
.primary-define .wishlist-info tbody td {
	vertical-align: middle;
	border-bottom: 1px solid #eee;
}
.primary-define .wishlist-info tbody .no-image {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.primary-define .wishlist-info tbody .name {
	text-align: left;
	font-weight: 600;
}
.primary-define .wishlist-info tbody .price-old {
	color: #CC4328;
	font-weight: 600;
	text-decoration: line-through;
}
.primary-define .wishlist-info tbody .price-fixed {
	font-weight: 600;
}
.primary-define .wishlist-info tbody .action img {
	cursor: pointer;
}
.primary-define .login-content p strong {
	margin: 4px 0;
}
.primary-define .login-content > .left {
	float: left;
	width: 48%;
}
.primary-define .login-content > .right {
	float: right;
	width: 48%
}
.primary-define .login-content > .right a {
	margin: 12px 0;
	display: inline-block;
}
.primary-define .login-content .left .content,
.primary-define .login-content .right .content {
	min-height: 200px;
}
.primary-define .login-content .right p strong {
	display: block;
}
.primary-define .login-content .right p input[type*="text"],
.primary-define .login-content .right p input[type*="password"] {
	width: 100%;
}
.primary-define .return-captcha:after {
	height: 0;
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
}
.primary-define .return-captcha .left,
.primary-define .return-captcha .right {
	float: left;
}
.primary-define .return-captcha .left {
	margin: 4px 10px 4px 0;
}
.primary-define .return-captcha .right {
	margin-bottom: 10px;
}
.primary-define .return-captcha .right p {
	margin-bottom: 5px;
}
/* ORDERS */
.primary-define .order-list table {
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.primary-define .order-list table td {
	padding: 7px;
	text-align: center;
}
.primary-define .order-list thead td {
	font-weight: 700;
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
.primary-define .order-list tbody td {
	border-bottom: 1px solid #eee;
}
.primary-define .order-list tbody td.order-status {
	font-weight: 700;
}
.primary-define .order-list tbody td.order-total {
	color: #C64132;
	font-weight: 700;
}
.primary-define .order-list tbody img {
	vertical-align: middle;
}
.primary-define .order-detail {
	background: #EFEFEF;
	font-weight: 700;
}
/* RETURNS */
.primary-define .return-list {
	margin-bottom: 10px;
}
.primary-define .return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.primary-define .return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.primary-define .return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.primary-define .return-list .return-content div {
	float: left;
	width: 33.3%;
}
.primary-define .return-list .return-info {
	text-align: right;
}
.primary-define #return-product table.form {
	margin: 0;
}
.primary-define #return-product table.form input[type*="radio"] {
	margin-left: 0;
}
.primary-define #return-product table.form label {
	margin-right: 10px;
}
.primary-define .download-list {
	margin-bottom: 10px;
}
.primary-define .download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.primary-define .download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.primary-define .download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.primary-define .download-list .download-content div {
	float: left;
	width: 33.3%;
}
.primary-define .download-list .download-info {
	text-align: right;
}
/* CART */
.primary-define .cart-info {
	margin: 20px 0;
}
.primary-define .cart-info table {
	border-right: 1px solid #eee;
}
.primary-define .cart-info table td {
	border-right: none;
	text-align: center;
}
.primary-define .cart-info table td.quantity {
	white-space: nowrap;
}
.primary-define .cart-module {
	padding-bottom: 20px;
}
.primary-define .cart-module > div {
	display: none;
}
.primary-define .cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.primary-define .cart-total table {
	float: right;
}
.primary-define .cart-total td {
	padding: 3px;
	min-width: 100px;
	font-weight: 600;
	text-align: right;
}
.primary-define .cart-total td.total {
	color: #C54032;
}
/* CHECKOUT */
.primary-define .checkout {
	margin-top: 30px;
}
.primary-define .checkout-heading {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.primary-define .checkout-heading a {
	color: #fff;
	float: right;
	margin-top: 1px;
	font-weight: 400;
	text-decoration: none;
}
.primary-define .checkout-content {
	display: none;
	padding: 0 0 15px 0;
}
.primary-define .checkout-content .left {
	width: 48%;
	float: left;
}
.primary-define .checkout-content .right {
	width: 48%;
	float: right;
}
.primary-define .checkout-content .buttons {
	clear: both;
}
.primary-define .checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	margin-bottom: 20px;
}
.primary-define .checkout-product td {
	padding: 7px;
	text-align: center;
}
.primary-define .checkout-product td.name {
	text-align: left;
}
.primary-define .checkout-product td.name a {
	font-weight: 600;
}
.primary-define .checkout-product td.total {
	color: #C54032;
	text-align: center;
}
.primary-define .checkout-product thead td {
	color: #666;
	font-weight: 600;
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
.primary-define .checkout-product thead td.total {
	color: #666;
}
.primary-define .checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #eee;
}
.primary-define .checkout-product tbody td.price {
	color: #C54032;
}
.primary-define .checkout-product tfoot td {
	font-weight: 600;
	text-align: right;
	border-bottom: 1px solid #eee;
}
.primary-define .contact-info {
	overflow: auto;
}
.primary-define .contact-info .left {
	float: left;
	width: 48%;
}
.primary-define .contact-info .right {
	float: left;
	width: 48%;
}
.primary-define .sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.primary-define .sitemap-info .left {
	float: left;
	width: 48%;
}
.primary-define .sitemap-info .right {
	float: left;
	width: 48%;
}
/* FOOTER */
.primary-define #footer {
	padding-bottom: 35px;
	background: url(../image/backgrounds/bg-noise-dark.png);
}
.primary-define #footer h3 {
	color: #aaa;
	font-weight: 600;
	margin: 0 0 20px;
	padding: 50px 0 13px 0;
	border-bottom: 1px solid #555;
}
.primary-define #footer .column ul li {
	margin: 12px 0;
	list-style-type: none;
}
.primary-define #footer a {
	color: #999;
}
.primary-define #footer a:hover {
	color: #fff;
}
.primary-define #powered {
	color: #666;
	padding: 20px 0 10px;
}