<?= $header; ?>
<div id="content">
  <div class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <?= $breadcrumb['separator']; ?><a href="<?= $breadcrumb['href']; ?>"><?= $breadcrumb['text']; ?></a>
  <?php } ?>
  </div>
  <?php if ($error_warning) { ?>
  <div class="warning"><?= $error_warning; ?></div>
  <?php } ?>
  <?php if ($success) { ?>
  <div class="success"><?= $success; ?></div>
  <?php } ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/product.png" alt="" /> <?= $heading_title; ?></h1>
      <div class="buttons">
      	<a href="<?= $insert; ?>" class="button"><?= $button_insert; ?></a>
      	<a onclick="$('#form').attr('action', '<?= $copy; ?>'); $('#form').submit();" class="button"><?= $button_copy; ?></a>
      	<a onclick="$('#form').submit();" class="button delete"><?= $button_delete;?></a>
      </div>
    </div>
    <div class="content">
      <form action="<?= $delete;?>" method="post" enctype="multipart/form-data" id="form">
        <table class="list">
          <thead>
            <tr>
              <td width="1" style="text-align: center;">
              	<input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" />
              </td>
              <td class="center"><?= $column_image; ?></td>
              <td class="left"><?php if ($sort == 'pd.name') { ?>
                <a href="<?= $sort_name; ?>" class="<?= strtolower($order);?>"><?= $column_name; ?></a>
                <?php } else { ?>
                <a href="<?= $sort_name; ?>"><?= $column_name; ?></a>
                <?php } ?></td>
              <td class="left"><?php if ($sort == 'p.model') { ?>
                <a href="<?= $sort_model; ?>" class="<?= strtolower($order); ?>"><?= $column_model; ?></a>
                <?php } else { ?>
                <a href="<?= $sort_model; ?>"><?= $column_model; ?></a>
                <?php } ?></td>
              <td class="left"><?php if ($sort == 'p.price') { ?>
                <a href="<?= $sort_price; ?>" class="<?= strtolower($order); ?>"><?= $column_price; ?></a>
                <?php } else { ?>
                <a href="<?= $sort_price; ?>"><?= $column_price; ?></a>
                <?php } ?></td>
              <td class="right"><?php if ($sort == 'p.quantity') { ?>
                <a href="<?= $sort_quantity; ?>" class="<?= strtolower($order); ?>"><?= $column_quantity; ?></a>
                <?php } else { ?>
                <a href="<?= $sort_quantity; ?>"><?= $column_quantity; ?></a>
                <?php } ?></td>
              <td class="left"><?php if ($sort == 'p.status') { ?>
                <a href="<?= $sort_status; ?>" class="<?= strtolower($order); ?>"><?= $column_status; ?></a>
                <?php } else { ?>
                <a href="<?= $sort_status; ?>"><?= $column_status; ?></a>
                <?php } ?></td>
              <td class="right"><?= $column_action; ?></td>
            </tr>
          </thead>
          <tbody>
            <tr class="filter">
              <td></td>
              <td></td>
              <td><input type="text" name="filter_name"  value="<?= $filter_name; ?>" /></td>
              <td><input type="text" name="filter_model" value="<?= $filter_model;?>" /></td>
              <td align="left "><input type="text" name="filter_price" value="<?= $filter_price; ?>" size="8"/></td>
              <td align="right"><input type="text" name="filter_quantity" value="<?= $filter_quantity; ?>" style="text-align: right;" /></td>
              <td><select name="filter_status">
                  <option value="*"></option>
                  <?php if ($filter_status) { ?>
                  <option value="1" selected="selected"><?= $text_enabled; ?></option>
                  <?php } else { ?>
                  <option value="1"><?= $text_enabled; ?></option>
                  <?php } ?>
                  <?php if (!is_null($filter_status) && !$filter_status) { ?>
                  <option value="0" selected="selected"><?= $text_disabled;?></option>
                  <?php } else { ?>
                  <option value="0"><?= $text_disabled; ?></option>
                  <?php } ?>
                </select></td>
              <td align="right"><a onclick="filter();" class="button"><?= $button_filter; ?></a></td>
            </tr>
            <?php if ($products) { ?>
            <?php foreach ($products as $product) { ?>
            <tr>
              <td style="text-align: center;"><?php if ($product['selected']) { ?>
                <input type="checkbox" name="selected[]" value="<?= $product['product_id']; ?>" checked="checked" />
                <?php } else { ?>
                <input type="checkbox" name="selected[]" value="<?= $product['product_id']; ?>" />
                <?php } ?></td>
              <td class="center"><img src="<?= $product['image']; ?>" alt="<?= $product['name']; ?>" style="padding: 1px; border: 1px solid #DDDDDD;" /></td>
              <td class="left"><?= $product['name']; ?></td>
              <td class="left"><?= $product['model']; ?></td>
              <td class="left"><?php if ($product['special']) { ?>
                <span style="text-decoration: line-through;"><?= $product['price']; ?></span><br/>
                <span style="color: #b00;"><?= $product['special']; ?></span>
                <?php } else { ?>
                <?= $product['price']; ?>
                <?php } ?></td>
              <td class="right"><?php if ($product['quantity'] <= 0) { ?>
                <span style="color: #FF0000;"><?= $product['quantity'];?></span>
                <?php } elseif ($product['quantity'] <= 5) { ?>
                <span style="color: #FFA500;"><?= $product['quantity'];?></span>
                <?php } else { ?>
                <span style="color: #008000;"><?= $product['quantity'];?></span>
                <?php } ?></td>
              <td class="left"><?= $product['status']; ?></td>
              <td class="right"><?php foreach ($product['action'] as $action) { ?>
                [ <a href="<?= $action['href']; ?>"><?= $action['text'];?></a> ]
                <?php } ?></td>
            </tr>
            <?php } ?>
            <?php } else { ?>
            <tr>
              <td class="center" colspan="8"><?= $text_no_results; ?></td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
      </form>
      <div class="pagination"><?= $pagination; ?></div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
function filter() {
	url = 'index.php?route=catalog/product&token=<?= $token; ?>';
	
	
			var filter_name = $('input[name=\'filter_name\']').prop('value');
			
	
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	
	
			var filter_model = $('input[name=\'filter_model\']').prop('value');
			
	
	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}
	
	
			var filter_price = $('input[name=\'filter_price\']').prop('value');
			
	
	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}
	
	
			var filter_quantity = $('input[name=\'filter_quantity\']').prop('value');
			
	
	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}
	
	
			var filter_status = $('select[name=\'filter_status\']').prop('value');
			
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}	

	location = url;
}
//--></script> 
<script type="text/javascript"><!--
$('#form input').keydown(function(e) {
	if (e.keyCode == 13) {
		filter();
	}
});
//--></script> 
<script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&token=<?= $token; ?>&filter_name=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.name,
						value: item.product_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'filter_name\']').val(ui.item.label);
						
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});

$('input[name=\'filter_model\']').autocomplete({
	delay: 500,
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&token=<?= $token; ?>&filter_model=' +  encodeURIComponent(request.term),
			dataType: 'json',
			success: function(json) {		
				response($.map(json, function(item) {
					return {
						label: item.model,
						value: item.product_id
					}
				}));
			}
		});
	}, 
	select: function(event, ui) {
		$('input[name=\'filter_model\']').val(ui.item.label);
						
		return false;
	},
	focus: function(event, ui) {
      	return false;
   	}
});
//--></script> 
<?= $footer; ?>